body {
  background-color: #add8e6;
}

h1 {
  background-color: #89b6c5;
  text-align: center;
  font-size: 300%;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
.row {
  margin: 2%;
}

.btn {
  background-color: #89b6c5;
  border: 2px solid;
  border-color: #89b6c5;
  border-radius: 3px;
  color: rgb(42, 42, 42);
  padding: 12px 24px;
  text-align: center;
  font: "Times New Roman", Times, serif;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: #5e8d9c;
  border-color: #5e8d9c;
}

/* Current City and Date Styling */
#currentTitle {
  color: black;
}

/* Color Coded UV Index Scale Id's*/
#greenUV {
  color: green;
}

#orangeUV {
  color: orange;
}

#redUV {
  color: red;
}

/* CSS Styling for Current Weather and Forecast*/
#today-color {
  background-color: #89b6c5;
  padding: 3%;
  border-radius: 4%;
  margin: 1%;
}
#forecast-color {
  background-color: #89b6c5;
  padding: 3%;
  border-radius: 4%;
  margin: 1%;
}
